[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "baseq"]
	path = baseq
	url = https://github.com/ambuvjyn/baseq
	shallow = true
	registered = true
